<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
      <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
      <title>TvAlerts: Results</title>
    </head>
    <body>
      <div class="container">
        <div class="row">
          <div class="six columns offset-by-three">
            <div>
                <h4 style="text-align: center;">TvAlerts</h4>
                <p style="text-align: center;">
                    <a href="#">Home</a> | <a href="#">Settings</a> | <a href="#">Help</a> | <a href="#">About</a>
                </p>
            </div>
          </div>
        </div>

        <div class="row">
            <div class="three columns">
                <h5>Google Ads</h5>
                <div>Ad 1</div>
                <div>Ad 2</div>
            </div>
            <div class="nine columns">
                <div id="w2w-preamble" style="margin-top: 30px; margin-bottom: 30px">
                    $esc.html($result.desc)
                </div>
                <div id="toc">
                    <ol id="w2w-toc">
                        #foreach($media in $result.movies)
                            <li>
                                <a href="#match$velocityCount">$esc.html($media.title)</a>
                            </li>
                        #end
                    </ol>
                </div>
                #foreach($media in $result.movies)
                    <div id="match$velocityCount">
                        <h3 class="w2w-title" style="margin-bottom: 2px;">
                            #if("$!media.officialWebsite" != "")
                               <a href="$media.officialWebsite" target="_blank">$esc.html($media.title)</a>
                            #else
                               $esc.html($media.title)
                            #end
                            <a href="#w2w-toc" style="font-size: 0.4em; margin-left: 18px;">top</a>
                        </h3>
                        <div class="w2w-quick-facts" style="margin-top: 0px; margin-bottom: 24px;">
                            $result.utils.movieQuickFacts($media)
                        </div>
			<div style="margin:8px 0px 8px 0px;">$result.utils.credits($media)</div>
                        <div class="w2w-desc" style="margin-bottom: 5px;">
                            <p>$esc.html($media.description)</p>
                            #if("$!media.picture" != "")
                                <img src="//api.tvmedia.ca/images/shows/$media.picture" class="u-pull-right" />
                            #end
                        </div>
                        <hr style="margin-top: 75px;" />
                    </div>
                #end
            </div>
        </div>
      </div>
    </body>
</html>

